---
import Laveladalogo from"@/icons/Laveladalogo.astro"
const TIMESTAMP_END = 1763308800000
---
<section class="my-32 flex flex-col gap-y-10 justify-center items-center">
    <Laveladalogo class="text-primary"/>
        <div data-date={TIMESTAMP_END}>
        <div><span data-days>00 </span><span>Dias</span></div>
        <div><span data-hours>00 </span><span>Horas</span></div>
        <div><span data-minutes>00 </span><span>Minutos</span></div>
        <div><span data-seconds>00 </span><span></span>Segundos</div>
        </div>
</section>

<script>
    const SECOND = 1000
    const MINUTE = SECOND *60
    const HOURS = MINUTE *60
    const DAYS = HOURS * 24
    function init() {
        const $countdown = document.querySelector("[data-date]")
        if (!$countdown) return

        const $days = $countdown.querySelector("[data-days]")
        const $hours = $countdown.querySelector("[data-hours]")
        const $minutes = $countdown.querySelector("[data-minutes]")
        const $seconds = $countdown.querySelector("[data-seconds]")

        const timestamp = $countdown.getAttribute("data-date")
        if (!timestamp) return

        const date = new Date(+timestamp).getTime()

        const formartTime = (time : number) => {
            return Math.floor(time).toString().padStart(2, "0")
        }

        function updateCountdown() {
            const now = Date.now()
            const diff = date - now

            if ($days instanceof HTMLElement) {
                $days.innerText = Math.floor(diff / DAYS).toString()
            }
            if ($hours instanceof HTMLElement) {
                $hours.innerText = Math.floor((diff % DAYS) / HOURS).toString()
            }
            if ($minutes instanceof HTMLElement) {
                $minutes.innerText = formartTime((diff % HOURS) / MINUTE).toString()
            }
            if ($seconds instanceof HTMLElement) {
                $seconds.innerText = formartTime((diff % MINUTE) / SECOND).toString()
            }
        }
        setInterval(updateCountdown, SECOND)
        

    }
    init()
</script>