<footer class="w-full border-primary border-t-2 md:flex md:flex-row justify-center items-center md:justify-between pt-6 pb-20 gap-y-10">
    <span class="text-primary text-center md:text-left"> &copy; 2024 La Velada del Año <span aria-hidden class="hidden md:inline">│</span><br aria-hidden class="block md:hidden" /> Todos los derechos reservados.</span>

    <ul class="flex flex-row gap-x-6 items-center">
        <li>
            <a target="_blank" rel="noopener" href="https://www.instagram.com/infolavelada" class="hover:scale-125 hover:opacity-70 transition inline-block">
                <img src="./instagram.svg" alt="Logo de Instagram"/>
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener" href="https://x.com/infoLaVelada" class="hover:scale-125 hover:opacity-70 transition inline-block">
                <img src="./x10.png" class="w-10 h-10 filter hue-rotate-180 text-black" alt="Logo de X"/>
            </a>
        </li>
    </ul>
</footer>
<!--casi un mes por una imagen q no salia tuve q cambiarla, un svg, muy rustico, los logos no caen en su lugar como los muevo -->
<!--pintare el logo espues para q aued mejor --> 