<div 
 class={"-top-1/2 -left-1/2 -bottom-1/2 -right-1/2 fixed bg-repeat w-[200%] h-[200vh] z-[99999] pointer-events-none contrast-125 brightness-150 "}></div>

<style>
    div {
        background-image: url("https://pikbest.com//png-images/qianku-grain-noise-background_2393805.html");
        animation: noise 0.2s infinite;
    }
    @keyframes noise {
        0% {
            transform: translate(0. 0);
        }
        10% {
            transform: translate(-5%. -5%);
        }
        20% {
            transform: translate(-10%. -5%);
        }
        30% {
            transform: translate(-5%. -10%);
        }
        
        
    }
</style>