<section 
 class="nt-32 nx-auto flex flex-col justify-center items-center text-center text-primary">
    <h2 class="uppercase text-5xl font-semibold mt-4 mb-6"> 
        4 de Abril  <span aria-hidden="true" class="hidden md:inline">•</span><br
            class="block md:hidden"
            aria-hidden="true"            
        />19:00h CET
    </h2>
    <h3 class="uppercase text-2x1 font-mediun flex flex-col max-w-sn nt-6 mt-4 mb-6">
        <span>Evento de Presentacion</span>
        <span>Teatro Victoria (Barcelona)</span>
    </h3>
    <a
    class={`border-primary border-2 font-medium uppercase text-lg px-0.5 py-0.1 mb-8 nt-3 hover:bg-slate-300 hover:bg-secondary hover:scale-125`}
    href="https://www.teatrevictoria.com"
    target="_blank"
    rel="noopener noreferrer">
    Entradas Agotadas</a>
</section>